.recordPending             { color: #36393D !important; }
.recordWaiting             { color: #00FF00 !important; }
.recordRunning             { color: #8B4513 !important; }
.recordAccepted            { color: #FF0000 !important; }
.recordPresentationError   { color: #3333FF !important; }
.recordTimeLimitExceeded   { color: #FF7400 !important; }
.recordMemoryLimitExceeded { color: #73880A !important; }
.recordWrongAnswer         { color: #3333FF !important; }
.recordRuntimeError        { color: #FF108C !important; }
.recordOutputLimitExceeded { color: #006020 !important; }
.recordCompileError        { color: #008C00 !important; }
.recordSystemError         { color: #356AA0 !important; }
.recordValidatorError      { color: #355AB0 !important; }

#status thead tr th.what { min-width: 46px; }
#status tbody tr td .icon-repeat { display: none; }
#status tbody tr:hover td .icon-repeat { display: inline-block; }
