Haha!
# wahaha
## This is My Problem Sets!
### You *PLAY* by *MY* rules!


========


- Exam 1
    + [A+B](/OnlineJudge/problem?id=1000)
    + [A-B](/OnlineJudge/problem?id=1001)
    + [A*B](/OnlineJudge/problem?id=1002)
    + [A/B](/OnlineJudge/problem?id=1003)
    + [A%B](/OnlineJudge/problem?id=1004)
- Exam 2
    + [MNS](/OnlineJudge/problem?id=2000)
    + [MCS](/OnlineJudge/problem?id=2001)
    + [BFS](/OnlineJudge/problem?id=2002)
    + [LBFS](/OnlineJudge/problem?id=2003)
    + [DFS](/OnlineJudge/problem?id=2004)
    + [LDFS](/OnlineJudge/problem?id=2005)
